<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mov Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highrate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('index') }}">ABH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('browse') }}">Browse<span class="sr-only"></span></a>
      </li>
      </ul>

      <ul class="navbar-nav justify-content-end ">

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('genres') }}">Movie genres</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Order by
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('highrate') }}">By Rating</a>
          <a class="dropdown-item" href="{{ url_for('alpha') }}">By Alphabet</a>
          <a class="dropdown-item" href="{{ url_for('year') }}">By Year</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" name="search" action="{{url_for('search')}}" method="post">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Movie" aria-label="Search" name="name" oninput="calli();" list="data" onfocusout="clear()" onselect="pq();">
      <datalist id="data"></datalist>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    </nav>

    <div class="container pt-5 pb-5">
      {% block content%}

      {% endblock%}
    </div>

    <script>

    function calli() {

      var select = document.getElementById("data");
      while(select.firstChild)
       select.removeChild(select.firstChild);


      val = document.getElementsByName('name')[0].value;

      var select = document.getElementById("data");
      while(select.firstChild)
       select.removeChild(select.firstChild);

      url = '/search/'+val;

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

          v=this.responseText;
          v=v.split('@')
          v = v.filter(function (el) {
      		  return el != "";
      		});
          //console.log(v);

          for(i=0;i<v.length;i+=2){
            option=document.createElement("OPTION");
            option.innerHTML=v[i+1]+"("+v[i]+")";
            //option.setAttribute("value","/content/"+v[i]);
            console.log(option)
            select.appendChild(option);
          }

        }
      };
      xhttp.open("GET",url, false);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send('');
    }

    function clear()
  	{
  		var myNode = document.getElementById("data");
  			while (myNode.firstChild) {
  				myNode.removeChild(myNode.firstChild);
  			}
      var myNode = document.getElementById("datas");
  			while (myNode.firstChild) {
  				myNode.removeChild(myNode.firstChild);
  			}
  	}

    function sea(){

      var select = document.getElementById("datas");
      while(select.firstChild)
       select.removeChild(select.firstChild);


      val = document.getElementsByName('name')[1].value;

      url = '/search/'+val;

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

          v=this.responseText;
          v=v.split('@')
          v = v.filter(function (el) {
      		  return el != "";
      		});
          //console.log(v);

          for(i=0;i<v.length;i+=2){
            option=document.createElement("OPTION");
            option.innerHTML=v[i+1]+"("+v[i]+")";
            //option.setAttribute("value","/content/"+v[i]);
            console.log(option)
            select.appendChild(option);
          }

        }
      };
      xhttp.open("GET",url, false);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send('');
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
