{%extends "base.html"%}


{% block content %}
  <div class="row">

    <div class="col-4 pt-3">
      <div class="card" style="width: 20rem; height:24rem;">
       <img class="card-img-top" src="https:{{x[10]}}" alt="" height="381">
      </div>
      <br><br><br>
      <h3>Released on: {{x[4]}}</h3>
      <br><br>
      <h3>Runtime: {{x[6]}} mins</h3>
      <br><br>
      <h3>Original language: {{x[7]}}</h3><br><br>
      <h3>Genre: {{ x[14] }}</h3><br><br>
      <h3><span class="fas fa-star" style="color:gold;"></span> {{x[8]}}</h3>    <h3><span class="fas fa-star" style="color:red;"></span> {{rate}}%</h3>


    </div>

    <div class="col-4 pt-3" style="text-align:left;">
       <h1>{{x[2]}}</h1>
       <br><br><br>
       <br>
       <h3><u>Description:</u></h3>
       <h4><p>{{x[3]}}</p></h4>
       <br>



    </div>

    <div class="col-4 pt-3">
      <h2>Similar movies</h2>
        <div class="row">
          {% for z in simmov %}
            {% for a in z %}
            <div class="col-6 mb-5">
              <form action="/content/{{a[1]}}" method="GET">
                <div class="card hvrbox" style="width:12rem;border-radius:0px;height: 40vh;color:black;">
                  <div class="hvrbox-layer_bottom">
                    <img src="https:{{a[10]}}" class="card-img-top" alt="" height=180vh;">
                    <div class="card-body">
                      {{ a[2] }} <br>
                      {{ a[5] }}
                    </div>
                  </div>
                  <div class="hvrbox-layer_top">
                    <div class="hvrbox-text">
                      <span class="fas fa-star" style="color:gold;"></span> {{a[8]}}
                      <br>
                      Genre: {{a[14]}}
                      <br>
                      <input class="btn btn-success mt-5" type="submit" value="view details">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          {%endfor%}
          {%endfor%}
        </div>

        <center>
          <a type="button" class="btn btn-light btn-lg" name="button" href="/similar/{{x[1]}}">More Movies</a>
        </center>

      </div>
  </div>
  <hr>
  <h2>Comments</h2>
  <hr style="background-color:white;height:0.3rem;">
  <div class="row mx-3">
    <div class="container">
      {% for c in comments %}
        <div class="jumbotron box">
          <h3>Comment {{loop.index}}:</h3>
          {{c}}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="container">
      <form action="{{ url_for('addcomments') }}" method="post">
        <div class="form-group">
          <label style="font-size:1.8rem"><b>Enter your Review here:</b></label>
          <textarea name="comment" class="form-control mx-3" rows="6" placeholder="So...What do you think about this movie."></textarea>
        </div>
        <input type="text" name="id" value="{{x[1]}}" hidden>
        <center>
          <input type="submit" class="btn btn-success" value="Submit">
          </center>
      </form>
    </div>
  </div>
  <style>
    .box{

      color:black;
      padding:20px;
      margin-y:20px;
    }
  </style>
{% endblock %}
